@plugin 'tailwindcss-animate';
@custom-variant dark (&:is(.dark *));
@import 'tailwindcss';

@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('/fonts/manrope-regular.woff') format('woff');
}
@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('/fonts/manrope-bold.woff') format('woff');
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: hsla(69, 100%, 96%, 1);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: hsla(122, 49%, 31%, 1);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: hsla(69, 100%, 96%, 1);
  --secondary-500: hsla(68, 100%, 83%, 1);
  --secondary-700: hsla(67, 76%, 75%, 1);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: hsla(240, 1%, 43%, 1);
  --muted-foreground-theme: hsla(240, 4%, 13%, 1);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 2.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme {
  --font-sans: 'Manrope', sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-foreground-theme: var(--primary-foreground-theme);
  --color-secondary: var(--secondary);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-xs: calc(var(--radius) - 16px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-5xl: calc(var(--radius) + 8px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

/* Components */
@layer components {
  .card {
    @apply rounded-lg bg-card text-card-foreground px-6 py-8;
  }
  .container {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }
}

/* Optional Base Styles */
@layer base {
  body{
    @apply bg-background text-foreground ;
  }
  /* h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl font-semibold;
  }
  h5 {
    @apply text-lg;
  }
  h5 {
    @apply text-base;
  }
    */
}

/* Utilities */
@utility no-scroll {
  &::-webkit-scrollbar {
    display: none;
  }
}
@utility flex-center {
  @apply flex justify-center items-center;
}

@utility sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

/* Typograpy */

/* Display */
@utility display-main {
  @apply text-[48px] leading-[56px] tracking-[-0.5px] font-bold md:text-[60px] md:leading-[72px] md:tracking-[-0.75px] lg:text-[72px] lg:leading-[84px] lg:tracking-[-1px];
}

@utility display-sub {
  @apply text-[40px] leading-[48px] tracking-[-0.25px] font-semibold md:text-[48px] md:leading-[60px] md:tracking-[-0.5px] lg:text-[60px] lg:leading-[72px] lg:tracking-[-0.5px];
}

/* Headline */
@utility headline-h1 {
  @apply text-[32px] leading-[40px] tracking-[-0.25px] font-bold md:text-[40px] md:leading-[52px] md:tracking-[-0.25px] lg:text-[48px] lg:leading-[60px] lg:tracking-[-0.5px];
}

@utility headline-h2 {
  @apply 
  text-[28px] leading-[36px] tracking-[0px] font-medium 
  md:text-[32px] md:leading-[44px] md:tracking-[0px] 
  lg:text-[40px] lg:leading-[52px] lg:tracking-[-0.25px];
}

@utility headline-h3 {
  @apply text-[24px] leading-[32px] tracking-[0px] font-semibold md:text-[28px] md:leading-[36px] md:tracking-[0px] lg:text-[32px] lg:leading-[44px] lg:tracking-[0px];
}

@utility headline-h4 {
  @apply text-[20px] leading-[28px] tracking-[0px] font-semibold md:text-[24px] md:leading-[32px] md:tracking-[0px] lg:text-[28px] lg:leading-[36px] lg:tracking-[0px];
}

@utility headline-h5 {
  @apply text-[18px] leading-[26px] tracking-[0px] font-medium md:text-[20px] md:leading-[28px] md:tracking-[0px] lg:text-[24px] lg:leading-[32px] lg:tracking-[0px];
}

@utility headline-h6 {
  @apply text-[16px] leading-[24px] tracking-[0px] font-medium md:text-[18px] md:leading-[26px] md:tracking-[0px] lg:text-[20px] lg:leading-[28px] lg:tracking-[0px];
}

/* Subhead */
@utility subhead {
  @apply text-[14px] leading-[20px] tracking-[0.15px] font-medium md:text-[16px] md:leading-[24px] md:tracking-[0.15px];
}

@utility subhead-lg {
  @apply text-[16px] leading-[24px] tracking-[0.15px] font-medium md:text-[18px] md:leading-[28px] md:tracking-[0.15px];
}

/* Disclaimer */
@utility disclaimer {
  @apply text-[12px] leading-[16px] tracking-[0.4px] font-normal;
}

@utility disclaimer-lg {
  @apply text-[14px] leading-[20px] tracking-[0.25px] font-normal;
}

/* Body - 24 */
@utility body-24-bold {
  @apply text-[24px] leading-[32px] tracking-[0px] font-bold;
}

@utility body-24-semibold {
  @apply text-[24px] leading-[32px] tracking-[0px] font-semibold;
}

@utility body-24-medium {
  @apply text-[24px] leading-[32px] tracking-[0px] font-medium;
}

@utility body-24-regular {
  @apply text-[24px] leading-[32px] tracking-[0px] font-normal;
}

/* Body - 20 */
@utility body-20-bold {
  @apply text-[20px] leading-[28px] tracking-[0px] font-bold;
}

@utility body-20-semibold {
  @apply text-[20px] leading-[28px] tracking-[0px] font-semibold;
}

@utility body-20-medium {
  @apply text-[20px] leading-[28px] tracking-[0px] font-medium;
}

@utility body-20-regular {
  @apply text-[20px] leading-[28px] tracking-[0px] font-normal;
}

/* Body - 18 */
@utility body-18-bold {
  @apply text-[18px] leading-[26px] tracking-[0.1px] font-bold;
}

@utility body-18-semibold {
  @apply text-[18px] leading-[26px] tracking-[0.1px] font-semibold;
}

@utility body-18-medium {
  @apply text-[18px] leading-[26px] tracking-[0.1px] font-medium;
}

@utility body-18-regular {
  @apply text-[18px] leading-[26px] tracking-[0.1px] font-normal;
}

/* Body - 16 */
@utility body-16-bold {
  @apply text-[16px] leading-[24px] tracking-[0.15px] font-bold;
}

@utility body-16-semibold {
  @apply text-[16px] leading-[24px] tracking-[0.15px] font-semibold;
}

@utility body-16-medium {
  @apply text-[16px] leading-[24px] tracking-[0.15px] font-medium;
}

@utility body-16-regular {
  @apply text-[16px] leading-[24px] tracking-[0.15px] font-normal;
}

/* Body - 14 */
@utility body-14-bold {
  @apply text-[14px] leading-[20px] tracking-[0.25px] font-bold;
}

@utility body-14-semibold {
  @apply text-[14px] leading-[20px] tracking-[0.25px] font-semibold;
}

@utility body-14-medium {
  @apply text-[14px] leading-[20px] tracking-[0.25px] font-medium;
}

@utility body-14-regular {
  @apply text-[14px] leading-[20px] tracking-[0.25px] font-normal;
}

/* Body - 12 */
@utility body-12-bold {
  @apply text-[12px] leading-[16px] tracking-[0.4px] font-bold;
}

@utility body-12-semibold {
  @apply text-[12px] leading-[16px] tracking-[0.4px] font-semibold;
}

@utility body-12-medium {
  @apply text-[12px] leading-[16px] tracking-[0.4px] font-medium;
}

@utility body-12-regular {
  @apply text-[12px] leading-[16px] tracking-[0.4px] font-normal;
}
