---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '../lib/utils'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '')
const subpath = pathname.match(/[^\/]+/g)
const isActive = href === pathname || href === '/' + (subpath?.[0] || '')
---

<a
  href={href}
  class:list={[
    cn('hover:bg-secondary-700/50 px-3 py-2 rounded-full ', className),
    { active: isActive },
  ]}
  {...props}
>
  <slot />
</a>

<style>
  a.active {
    background: var(--color-secondary-700);
  }
</style>
